@import url("reset.css");
/* read this about this box-sizing thingy 
https://css-tricks.com/box-sizing/*/


$nav-height: 20vh;
	
$login-button-font-size: calc(20px + 1vw);


//colors
$background-color: #f0f0f5;
$emergency-color: red;
$login-color : orange;
$about-us-color: grey;
$user-form-color: yellow;
$emergency-contact-form-color: green;
body{
	background-color: $background-color;
	background-size: cover;
}
nav{
	height: $nav-height;
	display: flex;
	ul{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.home-link{
	background-color: red;
	font-size: calc(18px + 1vw);
}
.logo{
	height: $nav-height;
}
.get-me-safe-button-container{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
}
.get-me-safe-button{
	cursor: pointer;
}
.login-button{
	height: 10vh;
	font-size: calc(20px + 1vw);
	font-family: 'Libre Baskerville', serif;
	background-color: $login-color;
	color: white;
	text-shadow: black 1px 1px 1px;

}
.about-button{
	height: 10vh;
	font-size: calc(20px + 1vw);
	font-family: 'Libre Baskerville', serif;
	background-color: $about-us-color;
	color: white;
	text-shadow: black 1px 1px 1px;
}

//edit-profile-page
%profile-input{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: calc(14px + 1vw);
}
.profile-form-container{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1{
		font-size: calc(20px + 1vw);
		color: white;
		text-shadow: black 1px 1px 1px;
	}
}
.user-form-container{
	background-color: $user-form-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	input{
		@extend %profile-input;
	}
}

.emergency-contact-form-container{
	background-color: $emergency-contact-form-color;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	input{
		@extend %profile-input;
	}
}
.add-contact-button-container{
	display: flex;
	justify-content: flex-end;
	font-size: $login-button-font-size;
}

.profile-submit-button-container{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	height: 10vh;
}

.profile-submit-button{
	background-color: $login-color;
	font-size: $login-button-font-size;
}

//edit profile page
.edit-contact-button-container{
	display: flex;
	justify-content: flex-end;
	font-size: $login-button-font-size;

}




