@import url("reset.css");
/* read this about this box-sizing thingy 
https://css-tricks.com/box-sizing/*/


$nav-height: 10vh;
	
$login-button-font-size: calc(20px + 1vw);

//color palette:
$emergency-red : #AA3939; //distress color
$safe-green: #2E882E; //safe color
$background-grey: #DEDEDE;// background
$text-grey: #333333; //text
$accent-orange: #AA6C39;
$accent-blue: #226666; //edits etc.




%white-text-black-shadow{
	color: white;
	text-shadow: black 1px 1px 1px;
}

%button-shadow{
	box-shadow: 0 0 15px 0px black;
	outline: none;
	&:active{
		box-shadow: none;
	}
}

body{
	display: flex;
	flex-direction: column;
	background-color: $background-grey;
	background-size: cover;
	min-height: 100vh;
 	line-height: 1.25;
  	font-family: 'Libre Baskerville', serif;
  	color: $text-grey;
}

nav{
	height: $nav-height;
	display: flex;
	align-items: flex-start;
	ul{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

button{
	outline: none;
}

.home-link{
	background-color: $emergency-red;
	font-size: calc(18px + 1vw);
}
.logo{
	height: $nav-height;
}
.get-me-safe-button-container{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}
.get-me-safe-button{
	cursor: pointer;
	box-shadow: 0 0 30px 0px black;
	border-radius: 50%;
	&:active{
		box-shadow: none;
	}
}
.login-button{
	height: 9vh;
	font-size: calc(20px + 1vw);
	font-family: 'Libre Baskerville', serif;
	background-color: $safe-green;
	@extend %white-text-black-shadow;

}
.logout-button{
	height: 9vh;
	background-color: $accent-orange;
	font-size: calc(20px + 1vw);
	@extend %white-text-black-shadow;
}

.about-button{
	height: 9vh;
	font-size: calc(20px + 1vw);
	font-family: 'Libre Baskerville', serif;
	background-color: $accent-blue;
	@extend %white-text-black-shadow;
}

//edit-profile-page
%profile-input{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: calc(14px + 1vw);
}
.profile-form-container{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1{
		font-size: calc(20px + 1vw);
		@extend %white-text-black-shadow;	
	}
}
.user-form-container{
	background-color: $accent-orange;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	input{
		@extend %profile-input;
	}
}

.edit-profile-page-main{
	margin-left: 20px;
	margin-bottom: 100px;
}

.emergency-contact-form-container{
	background-color: $emergency-red;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	input{
		@extend %profile-input;
	}
}
.add-contact-button-container{
	display: flex;
	justify-content: flex-end;
	font-size: $login-button-font-size;
}

.profile-submit-button-container{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	height: 10vh;
}

.profile-submit-button{
	background-color: $accent-orange;
	font-size: $login-button-font-size;
}

.edit-profile-page-emergency-contact-container{
	margin-bottom: calc(30px + 10vh);
	background-color: lighten($background-grey, 5);
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.emergency-contact-heading{
	font-size: calc(16px + .5vw);
}

.emergency-contact-button-container{
	display: flex;
	justify-content: space-between;
	width: 50%;
	font-size: calc(16px + 1vw);
	margin-bottom: 10px;
	margin-top: 20px;
}

.delete-contact-button{
	background-color: $emergency-red;
	width: 40%;
	@extend %button-shadow;
	box-shadow: 0 0 7px 0px black;

}
.edit-contact-button{
	background-color: $accent-blue;
	width: 40%;
	@extend %button-shadow;
	box-shadow: 0 0 7px 0px black;
	a{
		@extend %white-text-black-shadow;
	}
}

.new-econtact-button-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.new-econtact-button{
	width: 50vw;
	height: calc(20px + 5vh);
	background-color: $safe-green;
	@extend %white-text-black-shadow;
	@extend %button-shadow;
}



//edit-contact.html
.edit-contact-page-emergency-contact-container{
	display: flex;
	justify-content: center;
}
.edit-emergency-contact-form-container{
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 15px 0px black;
	background-color: darken($background-grey, 10);
	input{
		height: calc(30px + 2vh);
		margin-top: 3vh;
		margin-bottom: 3vh;
		font-size: calc(14px + 1vw);
		border: 0;
		outline: 0;
		background: transparent;
		border-bottom: 2px solid $accent-blue;
		@extend %white-text-black-shadow;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				@extend %white-text-black-shadow;
				color: $background-grey;
			}
		}
}

.emergency-contact-submit-button-container{
	display: flex;
	justify-content: center;
}
.emergency-contact-submit-button{
	font-size: calc(14px + 1vw);
	margin-top: 3vh;
	margin-bottom: 3vh;
	height: calc(30px + 3vh);
	box-shadow: 0 0 7px 0px black;
	background-color: $accent-blue;
	@extend %white-text-black-shadow;
}

//logo
.fa-building{
  font-size: calc(16px + 1vw);
  color: $accent-blue;
}

.fa-building-o{
  font-size: calc(18px + 1.5vw);
  color: $accent-orange;
}

.fa-hospital-o{
  color: $emergency-red;
  font-size: calc(14px + 1.5vw);
}

.logo-container{
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}

.get-me-safe-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logo-icon-container{
  display: flex;
}
.logo-text-container{
  display: flex;
  justify-content: center;
}

.get-me-safe-logo-text{
  color: $accent-blue;
  font-family: 'Libre Baskerville', serif;
}




