@import url("reset.css");
/* read this about this box-sizing thingy
https://css-tricks.com/box-sizing/*/
.login-button, .logout-button, .about-button, .edit-profile-button, .profile-form-container h1, .edit-contact-button a, .new-econtact-button, .edit-emergency-contact-form-container input, .edit-emergency-contact-form-container input::-webkit-input-placeholder, .emergency-contact-submit-button, .add-econtact-page-add-econtact-form-container input, .add-econtact-page-add-econtact-form-container input::-webkit-input-placeholder, .add-econtact-page-submit-button, .addphone-form-container input, .addphone-form-container input::-webkit-input-placeholder, .addphone-submit-button, .abort-safe-button-container button, .next-prev-button-container button {
  color: white;
  text-shadow: black 1px 1px 1px; }

.delete-contact-button, .edit-contact-button, .new-econtact-button {
  box-shadow: 0 0 15px 0px black;
  outline: none; }
  .delete-contact-button:active, .edit-contact-button:active, .new-econtact-button:active {
    box-shadow: none; }

body {
  display: flex;
  flex-direction: column;
  background-color: #DEDEDE;
  background-size: cover;
  height: 100vh;
  line-height: 1.25;
  font-family: 'Libre Baskerville', serif;
  color: #333333; }

nav {
  height: 10vh;
  display: flex;
  align-items: flex-start;
  margin-bottom: 100px; }
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center; }

button {
  outline: none; }

.home-link {
  background-color: #AA3939;
  font-size: calc(18px + 1vw); }

.logo {
  height: 10vh; }

.get-me-safe-button-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px; }

.get-me-safe-button {
  cursor: pointer;
  box-shadow: 0 0 30px 0px black;
  border-radius: 50%; }
  .get-me-safe-button:active {
    box-shadow: none; }

.login-button {
  height: 9vh;
  font-size: calc(20px + 1vw);
  font-family: 'Libre Baskerville', serif;
  background-color: #2E882E; }

.logout-button {
  height: 6vh;
  background-color: #AA3939;
  font-size: calc(20px + 1vw); }

.about-button {
  height: 6vh;
  font-size: calc(20px + 1vw);
  font-family: 'Libre Baskerville', serif;
  background-color: #AA6C39; }

.edit-profile-button {
  height: 6vh;
  background-color: #226666;
  font-size: calc(20px + 1vw); }

.user-form-container input, .emergency-contact-form-container input {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: calc(14px + 1vw); }

.profile-form-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .profile-form-container h1 {
    font-size: calc(20px + 1vw); }

.user-form-container {
  background-color: #AA6C39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }

.edit-profile-page-main {
  position: absolute;
  top: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.emergency-contact-form-container {
  background-color: #AA3939;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.add-contact-button-container {
  display: flex;
  justify-content: flex-end;
  font-size: calc(20px + 1vw); }

.profile-submit-button-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  height: 10vh; }

.profile-submit-button {
  background-color: #AA6C39;
  font-size: calc(20px + 1vw); }

.edit-profile-page-emergency-contact-container {
  margin-bottom: 50px;
  background-color: #ebebeb;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw; }

.emergency-contact-heading {
  font-size: calc(16px + .5vw); }

.emergency-contact-button-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: calc(16px + 1vw);
  margin-bottom: 10px;
  margin-top: 20px; }

.delete-contact-button {
  background-color: #AA3939;
  width: 40%;
  box-shadow: 0 0 7px 0px black; }

.edit-contact-button {
  background-color: #226666;
  width: 40%;
  box-shadow: 0 0 7px 0px black; }

.new-econtact-button-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.new-econtact-button {
  width: 98vw;
  height: calc(20px + 5vh);
  background-color: #2E882E; }

.edit-contact-page-emergency-contact-container {
  display: flex;
  justify-content: center; }

.edit-emergency-contact-form-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0px black;
  background-color: #c5c5c5; }
  .edit-emergency-contact-form-container input {
    height: calc(30px + 2vh);
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: calc(14px + 1vw);
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #226666; }
    .edit-emergency-contact-form-container input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #DEDEDE; }

.emergency-contact-submit-button-container {
  display: flex;
  justify-content: center; }

.emergency-contact-submit-button {
  font-size: calc(14px + 1vw);
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: calc(30px + 3vh);
  box-shadow: 0 0 7px 0px black;
  background-color: #226666; }

.add-econtact-page-add-econtact-form-container-container {
  display: flex;
  min-height: 50%;
  z-index: 5;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.add-emergency-contact-heading {
  font-size: calc(20px + 3vw);
  text-shadow: white 1px 1px 1px;
  margin-bottom: 20px; }

.add-econtact-page-add-econtact-form-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0px black;
  background-color: #c5c5c5; }
  .add-econtact-page-add-econtact-form-container input {
    height: calc(30px + 2vh);
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: calc(14px + 1vw);
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #226666; }
    .add-econtact-page-add-econtact-form-container input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #DEDEDE; }

.add-econtact-page-submit-button-container {
  display: flex;
  justify-content: center;
  z-index: -1}

.add-econtact-page-submit-button {
  font-size: calc(14px + 1vw);
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: calc(30px + 3vh);
  box-shadow: 0 0 7px 0px black;
  background-color: #226666;
z-index: -1}

.addphone-form-container-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.addphone-heading {
  text-shadow: white 1px 1px 1px;
  margin-bottom: 20px;
  font-size: calc(14px + 2vw); }

.addphone-form-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0px black;
  background-color: #c5c5c5; }
  .addphone-form-container input {
    height: calc(30px + 2vh);
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: calc(14px + 1vw);
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #226666; }
    .addphone-form-container input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #DEDEDE; }

.addphone-submit-button {
  font-size: calc(14px + 1vw);
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: calc(30px + 3vh);
  box-shadow: 0 0 7px 0px black;
  background-color: #226666; }

.fa-building {
  font-size: calc(16px + 1vw);
  color: #226666; }

.fa-building-o {
  font-size: calc(18px + 1.5vw);
  color: #AA6C39; }

.fa-hospital-o {
  color: #AA3939;
  font-size: calc(14px + 1.5vw); }

.logo-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 20px; }

.get-me-safe-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.logo-icon-container {
  display: flex; }

.logo-text-container {
  display: flex;
  justify-content: center; }

.get-me-safe-logo-text {
  color: #226666;
  font-family: 'Libre Baskerville', serif; }

.abort-safe-button-container button, .next-prev-button-container button {
  height: calc(20px + 5vh);
  font-size: calc(12px + 3vw); }

#map {
  height: 40vh;
  width: 100vw;
  background-color: grey;
  margin-top: 50px; }

.abort-safe-button-container {
  display: flex;
  justify-content: space-between; }
  .abort-safe-button-container #abort-button {
    background-color: #AA3939; }
  .abort-safe-button-container #safe-button {
    background-color: #2E882E; }

.next-prev-button-container {
  display: flex;
  justify-content: space-between; }
  .next-prev-button-container button {
    background-color: #226666; }

.main-page-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(14px + 2vw);
  margin-bottom: 30px;
  margin-top: 30px; }

.adp {
  font-size: calc(16px + 2vw); }

.warnbox-content {
  display: none; }

.warnbox-c1 {
  display: none; }

.warnbox-c2 {
  display: none; }

/*# sourceMappingURL=style.css.map */
