.show-safe {
  display: none;
  font-size: calc(40px + 2vw);
  font-weight: 600;
  color: #2E882E;
  text-shadow: black 1px 1px 1px;
}

.header-track {
  display: flex;
  justify-content: center;
  font-size: calc(30px + 1vw);
  color: white;
  text-shadow: black 1px 1px 1px;
  
}

.trackpath-heading-container{
	width: 100vw;
	border-bottom: 5px solid black;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: hsla(59, 0%, 38%, .7);
	color: white;
}